@media print {

    header,nav,footer {
        display: none;
    }

    body {
        font-size: 30pt;
        color: black;
        background: white;
    }

    main {
        padding: 0;
        margin: 0;
        color: black;
    }

    h1,h2,h3 {
        page-break-after: avoid;
        color: black;
    }


    img {
        page-break-inside: avoid; 
    }

    p {
        margin: 0 0 10px;
    }


    .about img {
        float: none;
        display: block;
        margin: 0 auto;
    }
}